<h1>Visualization</h1>

<p>Welcome!</p>

<p>
  The following is a visualization of
  <a href="https://cfpub.epa.gov/ghgdata/inventoryexplorer/index.html" target="_blank">
    US greenhouse gas emissions from 1990 to 2019
  </a>
  .
</p>

<p>
  The raw data is presented in a table for convenience.
  The stacked bar chart shows the trend of emissions for every year and what
  sources contribute to these emissions by economic sector. The pie chart acts
  as the key to the stacked bar chart.
</p>
<p>
  The pie chart shows the relative
  contributions of each sector for the selected time period. By default, the
  entire range is selected, but the user can select a subset of the data by
  brushing over the stacked bar chart.
</p>
<p>
  Mousing over the name of an economic sector on the pie chart will eliminate
  that sector from the bar chart, allowing the user to see what trends would
  hold or change without that sector. The graph does not rescale, reinforcing
  how much of an impact that sector has on greenhouse gas emissions.
</p>

<dvmv-bar></dvmv-bar>

