<h2>Raw Data</h2>

<div class="example-container mat-elevation-z8">
  <table mat-table [dataSource]="data">

    <ng-container matColumnDef="Year">
      <th mat-header-cell *matHeaderCellDef> Year </th>
      <td mat-cell *matCellDef="let element"> {{element['year']}} </td>
    </ng-container>

    <ng-container matColumnDef="Transportation">
      <th mat-header-cell *matHeaderCellDef> Transportation </th>
      <td mat-cell *matCellDef="let element"> {{element['Transportation']}} </td>
    </ng-container>

    <ng-container matColumnDef="Electricity generation">
      <th mat-header-cell *matHeaderCellDef> Electricity Generation </th>
      <td mat-cell *matCellDef="let element"> {{element['Electricity generation']}} </td>
    </ng-container>

    <ng-container matColumnDef="Industry">
      <th mat-header-cell *matHeaderCellDef> Industry </th>
      <td mat-cell *matCellDef="let element"> {{element['Industry']}} </td>
    </ng-container>

    <ng-container matColumnDef="Agriculture">
      <th mat-header-cell *matHeaderCellDef> Agriculture </th>
      <td mat-cell *matCellDef="let element"> {{element['Agriculture']}} </td>
    </ng-container>

    <ng-container matColumnDef="Commercial">
      <th mat-header-cell *matHeaderCellDef> Commercial </th>
      <td mat-cell *matCellDef="let element"> {{element['Commercial']}} </td>
    </ng-container>

    <ng-container matColumnDef="Residential">
      <th mat-header-cell *matHeaderCellDef> Residential </th>
      <td mat-cell *matCellDef="let element"> {{element['Residential']}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>
</div>

<br><br>
<h2>Stacked Bar Chart</h2>
<figure id="bar"></figure>

<h2>Pie Chart (Data from {{this.parseSelectedYears()[0]}} to {{this.parseSelectedYears()[this.parseSelectedYears().length - 1]}})</h2>
<figure id="pie"></figure>
